body {
  border: 20px solid #00CED1;
  color: #2F4F4F;
  font-size: 20px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

h1 {
  color: #778899;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.intro {
  background-color: #7FFFD4;
  margin: 0 auto;
  padding: 5%;
}

.description {
  background-color: #2F4F4F;
  color: #00CED1;
  margin: 0 auto;
  padding: 10%;
}

.another {
  line-height: 1.5;
  letter-spacing: 2px;
}

.another h2 {
  color: #778899;
  text-transform: uppercase;
}

.four-pictures {
  display: flex;
  justify-content: space-between;
  margin: 100px 0; 
}

.four-pictures img:hover {
  border: dotted 10px black;
}