body {
  border: 20px solid #00CED1;
  color: #2F4F4F;
  font-size: 20px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

h1 {
  color: #778899;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h1:hover {
  color: #BC8F8F;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.intro {
  background-color: #7FFFD4;
  margin: 0 auto;
  padding: 5%;
}

.intro:hover {
  background-color: #DEB887;
}

.description {
  background-color: #2F4F4F;
  color: #00CED1;
  margin: 0 auto;
  padding: 10%;
}

.description:hover {
  color: #FFA07A;
  background-color: #696969;
}

.another {
  line-height: 1.5;
  letter-spacing: 2px;
}

.another:hover {
  color: #FF8C00;
}

.another h2 {
  color: #778899;
  text-transform: uppercase;
}

.another h2:hover {
  color: #FF8C00;
  text-transform: capitalize;
}

.four-pictures {
  display: flex;
  justify-content: space-between;
  margin: 10% 0; 
}

.four-pictures img:hover {
  border: dotted 10px #DC143C;
}