body {
  border: 20px solid #00CED1;
  color: #2F4F4F;
  font-size: 20px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

h1 {
  color: #778899;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: purple;
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  color: gray;
  font-size: 20px;
}

.intro {
  background-color: #7FFFD4;
  margin: 0 auto;
  padding: 5%;
}

.description {
  background-color: #bbb;
  margin: 0 auto;
  padding: 50px;
}

.another p {
  line-height: 2;
  letter-spacing: 2px;
}

.four-pictures {
  display: flex;
  justify-content: space-between;
  margin: 100px 0; 
}

.four-pictures img:hover {
  border: dotted 10px black;
}